.popup__button {
    margin: 46px 36px 36px;
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-width: 0;
    border-radius: 2px;
    cursor: pointer;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 550px) {
    .popup__button {
        width: 200px;
        margin: 32px 20px 30px;
        font-size: 14px;
        line-height: 15px;
        height: 40px;
    }
}