.profile__info {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    align-items: center;
}

@media screen and (max-width: 550px) {
    .profile__info {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        justify-items: center;
    }
}