.card__button-like {
    width: 24px;
    height: 24px;
    background-image: url("../../../images/like.svg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    border-width: 0;
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 0;
    margin-right: 19px;
}

.card__button-like:hover {
    cursor: pointer;
    opacity: 0.6;
}

.card__button-like_active {
    background-image: url(../../../images/like_black.svg);
}