@import url(./__image/card__image.css);
@import url(./__text/card__text.css);
@import url(./__button/card__button-like.css);
@import url(./__button/card__button-trash.css);
@import url(./__counter/card__counter-likes.css);

.card {
    background-color: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
}